@{
   
    ViewData["Title"] = "RecentOrder";
}

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        table-layout: auto;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #4CAF50;
            color: white;
        }
</style>
<table id="customers">
    <tr>
        <th>  </th>
        <th>Product</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Price<\>
        <th>Time</th>
        <th>Activication Code</th>
    </tr>
    @* @foreach (OrderDetails orders in Model.OrderDetails)
        {
            <tr>
                <td><img src="@orders.ProductPic"></td>
                <td>@orders.ProductName</td>
                <td>@orders.ProductDescription</td>
                <td>@orders.ProductPrice</td>
                <td>@orders.Price</td>
                <td>@orders.Date</td>
                <td>
                    <select>
                     @{
                        foreach (var code in Model.ActivationCodes)
                        {
                            <option>@code.activationCode</option>
                        }
                        }
                    </select>
                </td>
            </tr>
          } *@
</table>

