@model Order
@{ 
    ViewData["Title"] = "RecentOrder";
}

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        table-layout: auto;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

       
        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #343a40;
            color: white;
        }
</style>

<div class="container">
<table id="customers">
    <tr>
        <th>  </th>
        <th>Product</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Price</th>
        <th>Activication Code</th>
    </tr>
     @foreach (OrderDetails orders in Model.OrderDetails)
        {
            <tr>
                <td><img src="@orders.Product.ProductPic" style="width: 300px"></td>
                <td>@orders.Product.ProductName</td>
                <td>@orders.Product.ProductDescription</td>
                <td></td>
                <td>@orders.Quantity
                <td>@orders.Price</td>
                <td>
                    <select>
                     @{
                        foreach (var activationcode in orders.ActivationCodes)
                        {
                            <option>@activationcode.ActivationCode</option>
                        }
                      }
                    </select>
                </td>
            </tr>
          } 
</table>
</div>

