@model Order
@{ 
    ViewData["Title"] = "RecentOrder";
    List<Review> customerReviews = (List<Review>)ViewData["customerReviews"];
}

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        table-layout: auto;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f7f7f7;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

       
        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #343a40;
            color: white;
        }
</style>

<div class="container">
<table id="customers">
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Price</th>
        <th>Activation Code</th>
    </tr>
     @foreach (OrderDetails orders in Model.OrderDetails)
     {
            <tr>
                <td>
                    <div>
                        <img src="@orders.Product.ProductPic" style="min-width: 50px; max-width: 100px; display: inline-block">
                        <div class="pb-2 ml-3 d-inline-block font-weight-bold">@orders.Product.ProductName</div>
                        <div class="pt-2 d-lg-table-row">@orders.Product.ProductDescription</div><br>

                        @if (customerReviews.Any(r => r.ProductID == orders.ProductId && r.OrderId == orders.OrderId))
                        {
                            <div><p class="text-muted">You have reviewed this product.</p></div>
                        }
                        else
                        {
                            <a class="btn btn-success float-right mx-2" id="leave-review" asp-controller="CreateReview" asp-action="Index" asp-route-id="@orders.Product.ProductId">Leave a Review</a>
                        }
                        <div class="mx-2">
                            <a class="btn btn-outline-info float-right " asp-controller="Gallery" asp-action="ProductDetailPage" asp-route-id="@orders.Product.ProductId">View Details</a>
                        </div>
                    </div>
                </td>
                <td>$@orders.Quantity</td>
                <td>$@orders.Price</td>
                @{ 
                    double ordertotal = orders.Price * orders.Quantity;
                }
                <td>@ordertotal</td>
                <td>
                    <select>
                     @{
                        foreach (var activationcode in orders.ActivationCodes.Where(o=>o.ProductId == orders.ProductId))
                        {
                            <option>@activationcode.ActivationCode</option>
                        }
                      }
                    </select>
                </td>
            </tr>

      } 
</table>
</div>

