@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@*@using X.PagedList.Web.Common;*@
@using System.Web;
@using X.PagedList.Mvc.Bootstrap4;

@{
    ViewData["Title"] = "Gallery Page";
    var onePageOfproduct = (IPagedList<Products>)ViewData["OnePageOfProducts"];
    List<Products> product = new List<Products>();
    foreach (Products p in onePageOfproduct)
    {
        product.Add(p);
    }
}
<link href="~/css/Gallery.css" rel="stylesheet" />

<title>T8Software</title>

@section Scripts
    {
    <script>
        var updateCart = function (url) {
            $("RightBar").load(url);
        };
    </script>
}

<div class="row">

    <div class="sidenav">
        <h2>Categories</h2>
        <a href="/gallery">Home</a>
        <a href="/gallery/antivirusandsecurity"> Antivirus and Security </a>
        <a href="/gallery/businessandoffice">Business and Office </a>
        <a href="/gallery/designandillustration">Design and Illustration </a>
    </div>

    <div class="gallery-table">
        <h1 class="d-inline-block">All Products</h1>
        <table>
            @for (int i = 0; i < product.Count; i += 3)
            {
                <tr>
                    @for (int j = 0; j < 3 && i + j < product.Count; j++)
                    {
                        <td>
                            <div class="polaroid">
                                @{
                                    int id = i + j;
                                    string imgPath = product[id].ProductPic;
                                }

                                <div class="container">
                                    <img src=@imgPath class="responsive productImage" />
                                    <div class="middle">
                                        <a type="button" class="btn btn-primary view" asp-controller="Gallery" asp-action="ProductDetailPage" asp-route-id="@(product[id].ProductId)">View</a>
                                    </div>
                                    <div class="middle2">
                                        <a class="btn btn-primary view" asp-controller="Cart" asp-action="AddToShoppingCart" asp-route-productid="@(product[id].ProductId)">Add to cart</a>
                                    </div>
                                </div>

                                <div class="productdesc">
                                    <h5 style="height: 50px">@product[id].ProductName</h5>
                                    <p class="text-muted p-2" style="overflow:auto; height: 100px">@product[id].ProductDescription</p>
                                    <h5><b>$@product[id].ProductPrice</b></h5>
                                </div>
                            </div>
                            <br />
                        </td>
                    }
                </tr>
            }
        </table>
            <!-- paging control for navigation to the previous page, next page, etc -->
            @Html.PagedListPager((IPagedList)ViewData["OnePageOfProducts"], page => Url.Action("Index", new { page }),
            X.PagedList.Mvc.Bootstrap4.Core.Bootstrap4PagedListRenderOptions.Default)
        
    </div>
</div>
