@{ 
    Products product = (Products)ViewData["product"];
    List<Products> similarProducts = (List<Products>)ViewData["similarProducts"];
    double starRating = 4.6; //average rating calculated from db
}
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Team8CA.Models.Products




<style>
    .add-to-cart {
        width: 220px;
        padding: 10px;
        float: left;
        margin-top: 10px;
        margin-right: 20px;
        display: block;
    }

    .side {
        border-left-color: grey;
        border-left: 2px;
    }


    .number-input {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
    }

        .number-input button {
            -webkit-appearance: none;
            background-color: transparent;
            border: none;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: 0;
            position: relative;
        }

        .number-input input[type=number] {
            text-align: center;
        }

        .number-input.number-input {
            border: 1px solid #ced4da;
            width: 10rem;
            border-radius: .25rem;
        }

            .number-input.number-input button {
                width: 2.6rem;
                height: 1.2rem;
            }

                .number-input.number-input button.minus {
                    padding-left: 10px;
                }


            .number-input.number-input input[type=number] {
                max-width: 4rem;
                padding: .5rem;
                border: 1px solid #ced4da;
                border-width: 0 1px;
                font-size: 1rem;
                height: 2rem;
                color: #495057;
            }

        .number-input input[type=number]::-webkit-inner-spin-button,
        .number-input input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }


    .user-review {
        display: block;
    }

    #leave-review {
        width: 200px;
        border-radius: .25rem;
    }

    .fas {
        display: flex;
        position: relative;
        justify-content: center;
    }

    .stars-outer {
        position: relative;
        display: inline-block;
        padding: 5px;
    }

    .stars-inner {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
        padding: 5px;
    }

    .stars-outer::before {
        content: "\f005  \f005  \f005  \f005  \f005";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 25px;
        color: #ccc;
    }

    .stars-inner::before {
        content: "\f005  \f005  \f005  \f005  \f005";
        font-family: "Font Awesome 5 Free";
        font-size: 25px;
        font-weight: 900;
        color: #f8ce0b;
    }

    .middle {
        transition: .3s ease;
        opacity: 0;
        display: inline-block;
        transform:translateY(-200%);
        text-align: center;
        font-size: 1vw;
    }

    .hover-product:hover > .productImage {
        opacity: 0.4;
        transition: 0.3s ease-in;
    }

    .hover-product:hover > .middle {
        opacity: 1;
    }

    .hover-product:hover > .img-thumbnail {
        opacity: 0.3;
    }

    .hover-product {
        position: relative;  
    }
    .similarProduct {
        transform: translateY(-50%);
    }


</style>

<script>
    //to be replaced
    const rating = @starRating; 

    document.addEventListener('DOMContentLoaded', getRating);

    function getRating() {
        const starPercentage = (rating / 5) * 100;
        const starPercentageRounded = `${Math.round(starPercentage)}%`;

        document.querySelector(`.stars-inner`).style.width = starPercentageRounded;
        document.querySelector(`.number-rating`).innerHTML = rating;
    }
</script>


<div class="container">
    <div class="row pt-4">
        <div class="col-9">
            <div class="row ">
                <div class="col-4 p-3 text-center">
                    <img src=@product.ProductPic class="p-1 container img-thumbnail" />
                    <h5 class="text-success p-3">In stock</h5>
                </div>

                <div class="col-8 pt-4">
                    <h2>@product.ProductName</h2>

                    <div class="stars-outer">
                        <div class="stars-inner"></div>
                    </div>

                    @*display average rating*@
                    <h4 class="number-rating text-warning d-inline pl-4"></h4>
                    <div class="d-block">
                        <a href="#product-reviews" class="text-primary">See reviews</a>
                    </div>

                    <div class="price pt-3"><h1 class="text-danger">$@product.ProductPrice</h1></div>
                    <p class="pt-3">@product.ProductDescription</p>
                    <a href="#product-details" class="text-primary">Learn more</a>

                    <div class="number-input">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="fas fa-minus"></i> </button>
                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="fas fa-plus"></i></button>
                    </div>

                    <div class="pt-3">
                        <button type="button" class="btn btn-primary add-to-cart">Buy Now</button>
                        <button type="button" class="btn btn-outline-primary add-to-cart">Add to Cart</button>
                    </div>
                </div>

            </div>
            <div class="row">
                @*product details*@
                <div class="row pt-5 container" id="product-details">
                    <h4 class="container-fluid">Product Details</h4>
                    <div class="user-review container">
                        <hr>
                        <p>
                            @Html.Raw(product.LongProductDesc)
                        </p>
                    </div>
                </div>
                @*product review*@
                <div class="row pt-5 container" id="product-reviews">
                    <h4 class="container-fluid">Product Reviews</h4>

                    <div class="user-review container">
                        <hr>
                        <h6 class="text-info">User001:</h6>
                        <h4 class="text-warning">★ ★ ★ ★ ☆</h4>
                        <p>Good product! Will buy again😁.</p>
                    </div>

                    <div class="user-review container">
                        <hr>
                        <h6 class="text-info">User002:</h6>
                        <h4 class="text-warning">★ ☆ ☆ ☆ ☆</h4>
                        <p>Activation code does not work! Will never buy again🙃.</p>
                    </div>

                </div>
                @*Leave a review -need to be logged in && bought this product*@
                <div class="row pt-5 container">
                    <a class="btn btn-outline-success container" id="leave-review" asp-controller="CreateReview" asp-action="Index">Leave a Review</a>
                </div>

            </div>
        </div>

        @*similar items from the same category*@
        <div class="col-3 p-4 side text-center">
            <h5>Related Products</h5>
           @foreach (Products p in similarProducts)
            {
                <div class="hover-product p-4 container">
                    <img src=@p.ProductPic class="container p-3 img-thumbnail" />
                    <div class="middle ">
                        <a type="button" class="btn btn-primary view" asp-controller="Gallery" asp-action="ProductDetailPage" asp-route-id="@p.Id">View</a>
                    </div>
                    <div class="middle" style="top: 35%">
                        <button type="button" class="btn btn-primary cart" onclick="updateCart(@Html.Raw("'" + "/Home/AddToCart?prdId=" + p.Id + "'"))"><i class="fa fa-cart-plus"></i></button>
                    </div>
                    <div class="similarProduct">
                        <h6>@p.ProductName</h6>
                        <h6 class="text-danger"><b>$@p.ProductPrice</b></h6>
                    </div>
                </div>
            }
        </div>


    </div>
</div>


